ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
} /*This Nav bar was copied from http://www.w3schools.com/bootstrap/bootstrap_navbar.asp*/ 
  /*The code for the table was taken from http://www.w3schools.com/html/html_layout.asp*/
.one {
    background-image: url("https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQkFDYe7DxQGmz1Oiv0QheRyAWMProBahATO-1n2F16KrTcmRkG");
}
.two {
     background-image: url("https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQ_QJsxGqSOz3Ls8j1KnbiPQnIhEBRwWpFuAclT3oCAP2E0EIgk");
}
.three {
     background-image: url("http://i.imgur.com/fpCZJCH.jpg");
}
.four {
    background-image: url("http://i.imgur.com/MVlq3d2.jpg")
}
.main {
    background-image: url("http://i.imgur.com/TmHQroz.png");
}
.mario {
     background-image: url("http://i.imgur.com/TmHQroz.png");
}
    padding: 20px;
    margin: 20px;
    background: #66ccff;
}
.sonic {
    padding: 20px;
    margin: 20px;
    background-image: url("http://i.imgur.com/ER9HhYJ.png")
}
.pacman {
    padding: 20px;
    margin: 20px;
    background: #66ccff;
}
h1 { 
   font-family: '8BITWONDERNominal', sans-serif; 
   font-weight: normal; 
   font-style: normal; 
}
p {
    width: 620px;
    padding: 10px;
    border: 5px solid gray;
    margin: 10px;
    left: 100px;
    width: 95%;
    text-align: center;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}
img {
    border: 5px solid #ffffff; 
    padding: 10spx;
}
